<div class="share">
    <div class="icon flex-jus-between">
        <a class="ic-fab flex-jus-center" 
          href="https://twitter.com/intent/tweet?url=<%=request.url%>&text=<%=article_data['title'].gsub(/[[:space:]]/, '').gsub(/\|/, ' ') %>&hashtags=<% article_data['tags'].map do |tag| %><%=tag["name"].gsub(/[[:space:]]/, '')%>,<% end %>music_branchwith," 
          target="_blank" 
          rel="nofollow noopener noreferrer"
        >
            <div>
                <div class="icon-fab flex-jus-center"><i class="fab fa-twitter"></i></div>
                <div class="icon-con">共有</div>
            </div>
        </a>
        <a class="ic-fab flex-jus-center" href="https://social-plugins.line.me/lineit/share?url={<%=request.url%>}" target="_blank" rel="nofollow noopener noreferrer">
            <div>
                <div class="icon-fab flex-jus-center"><i class="fab fa-line"></i></div>
                <div class="icon-con">共有</div>
            </div>
        </a>
        <a class="ic-fab flex-jus-center" href="" target="_blank" rel="nofollow noopener noreferrer">
            <div>
                <div class="icon-fab flex-jus-center"><i class="fab fa-apple"></i></div>
                <div class="icon-con">apple</div>
            </div>
        </a>
        <a class="ic-fab flex-jus-center" href="" target="_blank" rel="nofollow noopener noreferrer">
            <div>
                <div class="icon-fab flex-jus-center"><i class="fab fa-amazon"></i></div>
                <div class="icon-con">amazon</div>
            </div>
        </a>
    </div>
</div>
