$main_color:#00aced;
.article_style{
    p{
        line-height:2em;
        margin:0 0 25px 0;
    }
    img{
        width:100%;
        margin:0 0 10px 0;
    }
    blockquote{
        margin:10px 0;
        background: #f8f8f8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
        padding:15px;border-radius:5px;
    }
    .paid-ens{
        width:100%;
        text-align:center;
        font-size:0.8em;
        color:#aaa;
    }
    .box1 {
        position: relative;
        margin:10px 0 15px 0;
        padding:35px 10px 10px 10px;
        border: dashed 1px #808080;
        border-radius: 8px;
        .box1-title {
            position: absolute;
            display: inline-block;
            top: -13px;
            left: 10px;
            padding: 0 9px;
            background: #FFF;
            font-weight: bold;
        }
    }

    ul,ol{
        margin:20px 0 10px 30px;
    }
    .bold{
        font-weight:bold;
    }
    h2{
        font-weight:510;
        padding: 5px 0px;
        width:100%;
        margin: 10px 0;
        border-bottom: solid 2px #aaa;
        font-size:1.2em;
    }
    h3,h4,h5,h6{
        position: relative;
        font-weight:bold;
        font-size:1em;
        color:#808080;
        padding:2px 30px;
        margin:5px 0 25px 0;
        &:before{
            position: absolute;
            top:50%;
            left:10px;
            -webkit-transform : translateY(-50%);
            transform : translateY(-50%);
            content:'';
            background:$main_color;
            width:0.8em;
            height:0.8em;
        }
    }
}

//--------------------------------------------------------------------------------
//                                   pc
//--------------------------------------------------------------------------------
@media screen and (min-width: 1000px) {
  .article_style{
    padding: 0 20px;
    iframe{
      width:100%;
      height:calc(650px * 0.5625);
    }
  }
}

//--------------------------------------------------------------------------------
//                                   スマホ
//--------------------------------------------------------------------------------
@media screen and (max-width: 1000px) {
  .article_style{
    padding: 0 10px;
    overflow: hidden;
    iframe{
      width:100%;
      height:calc(calc(100vw - 20px) * 0.5625);
    }
  }
}