

.tag_article_list{
  width:430px;
  padding:10px 0;
  background:white;
  border-radius:10px;
}
.tag_lyrics_list{
  width:250px;
  padding:10px 0;
  background:white;
  border-radius:10px;
  margin-right:10px
}
//--------------------------------------------------------------------------------
//                                   pc
//--------------------------------------------------------------------------------
@media screen and (min-width: 1000px) {
  .tag_container{
    width:calc(100% - 20px);
    background:white;
    padding:10px;
    margin-bottom:10px;
    .image_container{
      width:35%;
      height:133px;
      background:#f8f8f8;
      border-radius:5px;
      margin-right:15px;
      text-align:center;
      .noimage{
        display:inline-block;
        width: auto;
        height:calc(100% - 20px);
        padding:10px 0;
        border-radius:5px;
        object-fit: cover;
      }
      img{
        display:block;
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius:10px;
      }
    }
    .tag_container_inf{
      width:calc(65% - 15px);
      h1{
        font-size:1.4em;
        font-weight:bold;
      }
    }
  }
}
//--------------------------------------------------------------------------------
//                                   スマホ
//--------------------------------------------------------------------------------
@media screen and (max-width: 1000px) {
  .tag_container{
    width:calc(100% - 20px);
    background:white;
    padding:10px;
    .image_container{
      width:calc(40vw - 30px);
      height:calc(40vw - 30px);
      background:#f8f8f8;
      border-radius:5px;
      margin-right:10px;
      text-align:center;
      img{
        display:block;
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius:5px;
      }
      .noimage{
        display:inline-block;
        width: auto;
        height:calc(100% - 20px);
        padding:10px 0;
        border-radius:5px;
        object-fit: cover;
      }
    }
    .tag_container_inf{
      width:60vw;
      h1{
        font-size:1.4em;
        font-weight:bold;
      }
    }
  }

  .sm_tag_container{
    flex-wrap:wrap;
    .tag_lyrics_list{
      order:1;
      width:100%;
      border-radius:0;
      margin-right:0px;
      border-bottom: 1px solid #f0f0f0;
    }
    .tag_article_list{
      order:2;
      width:100%;
      border-radius:0;
    }
  }

  .sm-newlyric-container{
    position:relative;
    display:block;
    width: 26vw;
    height: 26vw;
    min-width: 26vw;
    margin:0 5px;
    text-decoration:none;
    .juc-image{
      width:100%;
      height:100%;
      text-align:center;
      img{
        display:block;
        width:100%;
        height:100%;
        object-fit: cover;
      }
      .noimage{
        display:inline-block;
        width: auto;
        height:calc(100% - 20px);
        padding:10px 0;
        border-radius:5px;
        object-fit: cover;
      }
    }
    .lyric-con{
      width:100%;
      font-size:0.9em;
      .fas-cont2{
        font-size:0.7em;
      }
    }
    .sm-heart{
      position:absolute;
      background:#00aced;
      top:2px;
      left:2px;
      font-size:0.8em;
      padding:0 5px;
      color:white;
      border-radius:5px;
      i{
        color:white;
      }
    }
  }
}
